* {
    margin: 0;
    gap: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
}

 body #content,
 header{
    padding-left: 50px;
    padding-right: 50px;
 }

header {
    background-color: blue;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 10px;
}

#nav-right {
    display: flex;
    gap: 16px;
}

#content {
    background-color: red;
    padding-top: 16px;
}

#projectHeader {
    display: grid;
    grid-template-columns: 3fr .5fr .5fr;
}

#card-container {
    padding-top: 48px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    height: fit-content;
    gap: 24px;
}

.card {
    background-color: green;
    border: 1px solid black;
    display: grid;
    border-radius: 10px;
    height: fit-content;
    max-width: 800px;
    grid-template-columns: 1.25fr 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
}

.card>div{
    padding-top: 16px;
    padding-left: 32px;
}

.card div:not(:first-child),
.card p {
    padding-left: 28px;
}

.card h2 {
    padding-bottom: 8px;
}

.addTask,
.edit,
.delete {
    width: fit-content;
    height: fit-content;
}

.edit {
    grid-column: 2/3;
    justify-self: start;
    
}

.addTask {
   color: blue;
   margin-left: 45px;
   
}

.delete  {
    color: red;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
    
}

.taskContainer {
    display: flex;
    gap: 10px;
}

#editTaskForm {
    grid-row: 2/3;
    
}

#editTaskForm input {
    width: 150px;
}